{% extends 'base.html.twig' %}

{% block title %}Hello MainApiController!{% endblock %}

{% block body %}
    <h1>Dodaj artykuł</h1>
    
    {# Wyświetlanie komunikatu o błędzie #}
    {% if error_message is defined %}
    <div style="color: red;">
        {{ error_message }}
    </div>
{% endif %}

    <form action="{{ path('app_main') }}" method="post">
        <label for="title">Tytuł:</label><br>
        <input type="text" id="title" name="title" required><br>

        <label for="content">Treść:</label><br>
        <textarea id="content" name="content" rows="4" cols="50" required></textarea><br>

        <label for="author">Autor:</label><br>
        <select id="author" name="author" required>
            {% for author in authors %}
                <option value="{{ author.id }}">{{ author.author }}</option>
            {% endfor %}
        </select><br>

        <input type="submit" value="Dodaj artykuł">
    </form>
{% endblock %}
